 @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
 .wrapper {
     max-width: 1416px;
     padding-left: 1rem;
     padding-right: 1rem;
     margin-left: auto;
     margin-right: auto;
 }
 
 *,
 *:before,
 *:after {
     box-sizing: border-box;
 }
 
 a {
     text-decoration: none;
     color: rgb(255, 251, 251);
 }
 
 html {
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }
 
 body {
     font-family: "Encode Sans", sans-serif;
 }
 
 .sr-only {
     position: absolute;
     clip: rect(1px, 1px, 1px, 1px);
     padding: 0;
     border: 0;
     height: 1px;
     width: 1px;
     overflow: hidden;
 }
 
 .button {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     color: #fff;
     background-color: #2fa0f6;
     min-width: 120px;
     padding: 0.5rem 1rem;
     border-radius: 5px;
     text-align: center;
 }
 
 .button svg {
     display: inline-block;
     vertical-align: middle;
     width: 24px;
     height: 24px;
     fill: #fff;
 }
 
 .button span {
     display: none;
 }
 
 @media (min-width: 600px) {
     .button span {
         display: initial;
     }
 }
 
 .button--icon {
     min-width: initial;
     padding: 0.5rem;
 }
 
 .logo {
     width: 130px;
 }
 
 .site-header {
     position: relative;
     background-color: #020202;
 }
 
 .site-header__wrapper {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     padding-top: 0.6rem;
     padding-bottom: 0.6rem;
 }
 
 .site-header__start {
     display: flex;
     align-items: center;
 }
 
 .site-header__start>*+* {
     margin-left: 1rem;
 }
 
 .site-header__end {
     color: white;
     display: flex;
 }
 
 .site-header__end>div {
     margin-right: 45px;
 }
 
 .site-header__end>div>p {
     margin-bottom: 6px;
     font-size: 14px;
     color: rgb(170, 172, 97);
 }
 
 .dropdown a:hover {
     color: tomato;
     text-decoration: none;
 }
 
 .dropdown a {
     color: white;
 }
 
 .dropdown {
     font-size: 15px;
     text-align: center;
 }
 
 .btn-login {
     border: 1px solid white;
     width: 125px;
     height: 47px;
     background-color: black;
     color: rgb(170, 172, 97);
     border-radius: 8px;
 }
 
 .login {
     margin-right: 0px;
 }
 
 .menu {
     border-bottom: 2px solid #b3b3b3;
     padding: 0 10px;
 }
 
 .nav-item a {
     font-size: 15px;
     color: #090809;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 .nav-item img {
     width: 20px;
     height: 20px;
 }
 
 @media (max-width: 679px) {
     .site-header__end {
         flex: 0 0 100%;
         order: 2;
         margin-top: 1rem;
     }
 }
 
 .nav__wrapper {
     position: fixed;
     top: 72px;
     left: 0;
     width: Max(220px, 20%);
     bottom: 0;
     z-index: 1;
     visibility: hidden;
     opacity: 0;
     transform: translateX(-100%);
     background-color: #f8f8f8;
     transition: transform 0.3s ease-out, opacity 0.3s ease-out;
     display: block;
 }
 
 .nav__wrapper.active {
     visibility: visible;
     opacity: 1;
     transform: translateX(0);
 }
 
 @media (max-width: 679px) {
     .nav__wrapper {
         top: 101px;
         /* Use a CSS variable and get JS help */
     }
     .nav__item a {
         color: #00080a;
     }
 }
 
 .nav__item {
     border-bottom: 1px solid rgba(0, 0, 0, 0.2);
 }
 
 .nav__item a {
     display: block;
     padding: 1.5rem 1rem;
 }
 
 .sub-nav {
     display: flex;
     flex-wrap: wrap;
 }
 
 .sub-nav li:not(:last-child) {
     margin-right: 1.5rem;
 }
 
 @media (max-width: 679px) {
     .sub-nav {
         background: rgba(0, 0, 0, 0.1);
         margin: 0 -1rem -1rem;
         padding: 1rem;
     }
 }
 
 .search {
     display: flex;
     margin-left: 6rem;
     position: relative;
 }
 
 .search__form {
     display: none;
 }
 
 .search__form.active {
     display: block;
 }
 
 @media (min-width: 680px) {
     .search__form {
         display: block;
     }
     .nav__toggle {
         display: none;
     }
 }
 
 @media (max-width: 679px) {
     .search__form {
         position: absolute;
         left: 0;
         right: 0;
         top: 100%;
         background-color: red;
     }
     .search__form input {
         width: 100%;
     }
 }
 
 .search__form input {
     width: 370px;
     height: 40px;
     appearance: none;
     border: 0;
     background-color: #fff;
     border-radius: 5px;
     font-size: 16px;
     padding: 0.5rem;
     padding-left: 26px;
 }
 
 .search-btn {
     height: 32px;
     width: 32px;
     background-color: rgb(243, 181, 11);
     color: white;
     border-radius: 5px;
     position: absolute;
     top: 5px;
     right: 6px;
     border: 0;
 }
 
 .search-btn:hover {
     background-color: rgba(245, 204, 90, 0.993);
 }
 
 @media (max-width: 679px) {
     .search__form input {
         border-bottom: 1px solid #979797;
     }
 }